.navigation ul{
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: fixed;
    margin: -210px;
    top: 210px;
    background-color: black;
    flex-direction: column;
}

.navigation li a:hover {
    background-color: #111;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.titresidebar {
    background-color: grey;
    float: right;
}

.progress{
    display: inline-block;
    position: relative;
    padding-left: 30px;
}

.progressBar{
    width: 250px;
    height: 20px;
    border: 1px solid;
}

li{
    list-style-type: none;
}